{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}

<div class="article">
    <div class="box empty"></div>
    <div class="box">
        <div class="article-title">
            <div class="box empty"></div>
            <div class="box">
                <p class="author">MelhamMaiers</p>
                <p class="date">{{article.pub_date}}</p>
            </div>
            <div class="box title">{{article.article_title}}</div>
            <div class="box empty"></div>
        </div>
        <div class="article-content">
            <div class="box empty"></div>
            <div class="box content">
                {{article.article_text}}
            </div>
            <div class="box empty"></div>
            {% if article.was_published_recently %}
            <div class="box empty"></div>
            <div class="box hot">Свежая статья!</div>
            <div class="box empty"></div>
            {% endif %}
        </div>
    </div>
    <div class="box empty"></div>
</div>

<div id="text-field">
    <div class="box empty"></div>
    <div class="box">
        <form action="{% url 'articles:leave_comment' article.id %}" method="POST">

            {% csrf_token %}

            <input type="text" required placeholder="Ваше имя" name="name" value="Неизвестный" hidden>
            <input type="text" name="text" placeholder="Как вы прокомментируете это?" maxlength="1000" id="comment-area" autocomplete="off">
            <button type="submit" id="send-nudes"></button>
        </form>
    </div>
    <div class="box empty"></div>
</div>

<div class="comment-counter">
    <div class="box empty"></div>
    <div class="box">
        <div class="comment-counter-title">Комментарии •</div>
        <div id="comment-counter-variable">{{latest_comments_list.count}}</div>
    </div>
    <div class="box empty"></div>
</div>

{% if latest_comments_list %}
<div class="comment-section">
    {% for c in latest_comments_list %}
        <div class="box empty"></div>
        <div class="box comment">
            <div class="comment-title">
                <div class="box empty"></div>
                <div class="box">
                    <p class="author">{{c.author_name}}</p>
                    <p class="date">{{c.pub_date}}</p>
                </div>
                <div class="box empty"></div>
                <div class="box empty"></div>
            </div>
            <div class="comment-content">
                <div class="box empty"></div>
                <div class="box content">{{c.comment_text}}</div>
                <div class="box empty"></div>
            </div>
        </div>
        <div class="box empty"></div>
    {% endfor %}
</div>
{% else %}
<div class="comment-section">
    <div class="box empty"></div>
    <div class="box">
        <div class="comment-content">
            <div class="box empty"></div>
            <div class="box content">Комментарии не найдены! Станьте первым ;)</div>
            <div class="box empty"></div>
        </div>
    </div>
    <div class="box empty"></div>
</div>
{% endif %}

{% endblock %}